

#my-main-header {
    display: flex;
    height: 90vh;
    padding: 0% 0% 0% 0%;
    align-content: center;
    font-size: 50px;
    flex-direction: column;
    justify-content:center;
}

#my-main-header > p {
    padding-top: 1em;
    font-size: .4em
}

.my-typing{
    font-family: var(--font-title);
    font-size: 1em;
}

@media screen and (max-width: 768px){
    #my-main-header{
        font-size: 30px;
    }

    #my-main-header > p{
        font-size: .6em;
    }
}

@media screen and (max-width: 400px){
    #my-main-header{
        font-size: 20px;
    }
}

#about-me{
    display: flex;
    padding-top: 20px;
    align-items: center;
    justify-content: center;
}

#about-me > div{
    flex: 1;
}

.my-profile-pic-frame{
    display: flex;
    justify-content: flex-end;
    margin: 15px;
}

.my-profile-pic{
    margin-right: 50px;
    width: min(100%, 300px);
    border-radius: 20px;
}

@media screen and (max-width: 768px){
    #about-me{
        flex-direction: column;
    }

    .my-profile-pic-frame{
        justify-content: center;
    }

    .my-profile-pic{
        margin-right: 0;
    }
}

.languages-tools-bar{
    display: flex;
    justify-content: center;
}

.dev-icons{
    width: 100px;
    height: 100px;
}