.my-form-container{
    display: flex;
    justify-content: space-around;
}

.my-form{
    width: 50%;
}

.my-form-row{
    display: flex;
    width: 100%;
    margin: 10px 0 0 0 !important;

    justify-content: space-around;
}

@media screen and (max-width: 768px){
    .my-form{
        width: 90%;
    }
}