.my-navbar {
  transition: all 0.5s;
  justify-content: space-around ;
  font-family: var(--font-title);
  font-size: 14px;
}

.my-navbar.sticky {
  background-color: var(--my-primary-accent-transparent);
  backdrop-filter: blur(4px);
}

.my-navbar.sticky.hide {
  transform: translateY(-100%);
}

.my-icon{
  animation-delay: .3s;
}

.my-nav-links > a {
  color: var(--my-primary-text-color) !important;
  transform: translate
}

.my-nav-links > a:hover {
  color: var(--my-primary-highlight) !important;
}

.my-nav-links > a:nth-child(1) {animation-delay: .6s;}
.my-nav-links > a:nth-child(2) {animation-delay: .9s;}
.my-nav-links > a:nth-child(3) {animation-delay: 1.2s;}
.my-nav-links > a:nth-child(4) {animation-delay: 1.5s;}

.middle-transition {
  position: relative;
}

.middle-transition::before {
  content: "";
  position: absolute;
  width: 100%;
  height: 2px;
  bottom: 0;
  left: 0;
  background-color: var(--my-primary-highlight);
  visibility: hidden;
  transform: scaleX(0);
  transition: all 0.3s;
}

.middle-transition:hover::before {
  visibility: visible;
  transform: scaleX(1);
}

.my-button{
    background-color: unset !important;
    border: none !important;
    animation-delay: .6s;
}