.my-navbar {
  position: fixed !important;
  width: 100%;
  top: 0;
  z-index: 99;
  transition: all 0.5s;
  justify-content: space-around !important;
  font-family: var(--font-title);
  font-size: 14px;
}

.my-navbar.sticky {
  background-color: var(--my-primary-accent-transparent);
  backdrop-filter: blur(4px);
}

.my-navbar.sticky.hide {
  transform: translateY(-100%);
}

.my-nav-links > a {
  color: var(--my-primary-text-color) !important;
  transform: translate
}

.my-nav-links > a:nth-child(1) {animation-delay: .5s;}
.my-nav-links > a:nth-child(2) {animation-delay: 1s;}
.my-nav-links > a:nth-child(3) {animation-delay: 1.5s;}
.my-nav-links > a:nth-child(4) {animation-delay: 2s;}


.my-nav-links > a:hover {
  color: var(--my-primary-highlight) !important;
}

@media screen and (max-width: 768px) {
  .my-nav-links {
    position: absolute;
    top: 100%;
    left: 100%;
    width: 50%;
    height: 100vh;
    background-color: inherit;
    text-align: center;
    z-index: 98;
    visibility: hidden;
    flex-direction: column !important;
    /* box-shadow: -5px 0px 5px #00000080; */
    transition-property: transform, visibility;
    transition-duration: 0.5s;
  }
  .my-nav-links.toggle {
    visibility: visible;
    transform: translateX(-100%);
  }

  .my-navbar {
    justify-content: space-between !important;
  }
}

.middle-transition {
  position: relative;
}

.middle-transition::before {
  content: "";
  position: absolute;
  width: 100%;
  height: 2px;
  bottom: 0;
  left: 0;
  background-color: var(--my-primary-highlight);
  visibility: hidden;
  transform: scaleX(0);
  transition: all 0.3s;
}

.middle-transition:hover::before {
  visibility: visible;
  transform: scaleX(1);
}

.my-button{
    background-color: unset !important;
    border: none !important;
}