
.my-navbar{
    background-color: red;
    z-index: 99;
    transition: all .5s;
    justify-content: space-around !important;
    /* overflow: hidden; */
}
.sticky{
    position: sticky !important;
    top: 0;
}

.my-navbar.sticky.hide{
    transform: translateY(-100%);
}


@media screen and (max-width: 768px){
    .my-nav-links{
        position: absolute;
        top: 100%;
        left:100%;
        width: 50%;
        height: 100vh;
        background-color: red;
        z-index: 99;
        flex-direction: column !important;
        transition: all .5s;
        /* transform: translateX(-100%); */
    }
    .my-nav-links.toggle{
        transform: translateX(-100%);
    }

    .my-navbar{
        justify-content: space-between !important;
    }
}