:root {
  --my-bg-primary: #185690;
  --my-bg-primary-transparent: #185690cc;
  --my-primary-accent: #203079;
  --my-primary-accent-transparent: #203079cc;

  --my-primary-highlight: #00ccff;
  --my-primary-text-color: #bdc6ee;
  --my-primary-text-color-dark:#203079;
  --my-primary-title-color: #00ccff;
  --font-title: 'Space Mono', Monaco , monospace;
  --font-text: "Montserrat", sans-serif;
}

body {
  color: var(--my-primary-text-color) !important;
  background-color: var(--my-bg-primary) !important;
  font-family: var(--font-text)  !important;
}

#root {
  position: relative;
  overflow-x: hidden;
  overflow-y: auto;
}

#content-wrapper{
  padding-left: 0px;
  padding-right: 0px;
}

#content-wrapper.blur{
  filter: blur(4px);
  pointer-events: none;
}

h1{
  text-align: center;
  font-weight: bolder !important;
}
