:root {
  --my-bg-primary: #185690;
  --my-bg-primary-transparent: #185690cc;
  --my-primary-accent: #203079;
  --my-primary-accent-transparent: #203079cc;

  --my-primary-highlight: #00ccff;
  --my-primary-text-color: #9baaf0;
  --my-primary-title-color: #00ccff;
  --font-text: "Roboto", "Calibri", Arial, sans-serif;
  --font-title: "Montserrat", sans-serif;
}

body {
  color: var(--my-primary-text-color) !important;
  background-color: var(--my-bg-primary) !important;
  font-family: var(--font-text);
}

#root {
  position: relative;
  overflow-x: hidden;
  overflow-y: auto;
}

#content-wrapper.blur{
  filter: blur(4px);
  pointer-events: none;
}
